<nav class="fm-side-links" aria-label="Enlaces útiles">
  <a class="fm-side-link" href="https://algotron.com.ar/" target="_blank" rel="noopener">AlgoTron</a>
  <a class="fm-side-link" href="http://www.myrpl.ar/" target="_blank" rel="noopener">RPL</a>
  <a class="fm-side-link" href="https://fundamendez.slack.com/" target="_blank" rel="noopener">Slack</a>
  <a class="fm-side-link" href="https://docs.google.com/forms/d/e/1FAIpQLScNk-4PjhDOEC5KKiIpYg-FVf78DLZFY3hBWwn6l9Y3mi6kSQ/viewform?usp=header" target="_blank" rel="noopener">Buzón de quejas</a>
</nav>
